In [7]:
import pandas as pd
df_final_demo = pd.read_csv("C:/Users/Alexandra/Documents/Ironhack/Week5/Mini-Project/week5_project_ab_testing/data/raw/df_final_demo.txt", sep=',')
df_final_demo

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [8]:
df_final_demo.dropna(how='all',inplace= True)

In [9]:
df_final_demo.isnull().sum()

client_id            0
clnt_tenure_yr      14
clnt_tenure_mnth    14
clnt_age            15
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
dtype: int64

In [10]:
df_final_demo.drop_duplicates(inplace=True)

In [11]:
df_final_demo.dtypes

client_id             int64
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
dtype: object

In [12]:
df_final_demo["clnt_tenure_yr"]  = df_final_demo.clnt_tenure_yr.fillna('0')
df_final_demo["clnt_tenure_mnth"]  = df_final_demo.clnt_tenure_mnth.fillna('0')
df_final_demo["clnt_age"]  = df_final_demo.clnt_age.fillna('0')
df_final_demo["num_accts"]  = df_final_demo.num_accts.fillna('0')
df_final_demo["bal"]  = df_final_demo.bal.fillna('0')
df_final_demo["calls_6_mnth"]  = df_final_demo.calls_6_mnth.fillna('0')
df_final_demo["logons_6_mnth"]  = df_final_demo.logons_6_mnth.fillna('0')

In [13]:
df_final_demo["clnt_tenure_yr"] = pd.to_numeric(
    df_final_demo["clnt_tenure_yr"],
    errors="coerce"
)
df_final_demo["clnt_tenure_mnth"] = pd.to_numeric(
    df_final_demo["clnt_tenure_mnth"],
    errors="coerce"
)

df_final_demo["num_accts"] = pd.to_numeric(
    df_final_demo["num_accts"],
    errors="coerce"
)

df_final_demo["calls_6_mnth"] = pd.to_numeric(
    df_final_demo["calls_6_mnth"],
    errors="coerce"
)


df_final_demo["logons_6_mnth"] = pd.to_numeric(
    df_final_demo["logons_6_mnth"],
    errors="coerce"
)

In [14]:
#converting clnt_tenure_yr into an integer 
df_final_demo["clnt_tenure_yr"] = df_final_demo["clnt_tenure_yr"].astype("Int64")
df_final_demo["clnt_tenure_mnth"] = df_final_demo["clnt_tenure_mnth"].astype("Int64")
df_final_demo["num_accts"] = df_final_demo["num_accts"].astype("Int64")
df_final_demo["calls_6_mnth"] = df_final_demo["calls_6_mnth"].astype("Int64")
df_final_demo["logons_6_mnth"] = df_final_demo["logons_6_mnth"].astype("Int64")

In [15]:
df_final_demo

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6,73,60.5,U,2,45105.3,6,9
1,2304905,7,94,58.0,U,2,110860.3,6,9
2,1439522,5,64,32.0,U,2,52467.79,6,9
3,1562045,16,198,49.0,M,2,67454.65,3,6
4,5126305,12,145,33.0,F,2,103671.75,0,3
...,...,...,...,...,...,...,...,...,...
70604,7993686,4,56,38.5,U,3,1411062.68,5,5
70605,8981690,12,148,31.0,M,2,101867.07,6,6
70606,333913,16,198,61.5,F,2,40745.0,3,3
70607,1573142,21,255,68.0,M,3,475114.69,4,4
70608,5602139,21,254,59.5,F,3,157498.73,7,7

In [16]:
df_final_demo['gendr'].unique()

array(['U', 'M', 'F', nan, 'X'], dtype=object)

In [17]:

df_final_demo["gendr"]  = df_final_demo.gendr.fillna('U')

In [18]:
df_final_demo['gendr'].unique()

array(['U', 'M', 'F', 'X'], dtype=object)

In [ ]:
#df_final_demo.to_csv('/Users/Alexandra/Documents/Ironhack/Week5/Mini-Project/data/clean/clean_final_demo_alexandra.txt', index=False, encoding='utf-8')