## Client behavior analysis
**Who are the primary clients using this online process?**

In [ ]:
# key clients in test vs control 
# primary based on the balance? 
# H1: primary clients. frequent logons, high tenure, high account balances.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [7]:
#df = %run demo_cleaning_Chiara.ipynb # access py files with magic command to see the outcome of a previous file
#df

In [6]:
df= pd.read_csv('final_demo_cleaned.csv') # final cleaned outcome must be saved as csv --> it must be in the same folder to be accessed and worked on 
df

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6,73,60,Unknown,2,45105.30,6,9
1,2304905,7,94,58,Unknown,2,110860.30,6,9
2,1439522,5,64,32,Unknown,2,52467.79,6,9
3,1562045,16,198,49,Male,2,67454.65,3,6
4,5126305,12,145,33,Female,2,103671.75,0,3
...,...,...,...,...,...,...,...,...,...
70604,7993686,4,56,38,Unknown,3,1411062.68,5,5
70605,8981690,12,148,31,Male,2,101867.07,6,6
70606,333913,16,198,61,Female,2,40745.00,3,3
70607,1573142,21,255,68,Male,3,475114.69,4,4
70608,5602139,21,254,59,Female,3,157498.73,7,7